.about__name {
  font-family: $fontFamily;
  margin: 0;
  padding: 24px 0 0 0;  
  color: $firstFontColor;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.02em;
}

@media (max-width: 500px) {
  .about__name {
    padding: 20px 0 0 0;          
    font-size: 20px;
    line-height: 28px;
  }
}