.about__title {
  margin: 0;
  padding: 0;
  max-width: 700px;
  color: #0A0A0A;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  grid-column: 1/2;
}