.about__title {
  margin: 0;
  padding: 0;  
  color: #0A0A0A;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  grid-column: 1/2;
}

@media (max-width: 900px) {
  .about__title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .about__title {    
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 32px;
  }
}