.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  position: relative;  
  align-items: center;  
  background-color: #e7e7e2;
}

@media (max-width: 320px) {
  .header {
    grid-template-columns: 1fr;
  }
}