.about__text_type_wide {
  font-weight: 500;  
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.02em;  
}

@media (max-width: 900px) {
  .about__text_type_wide {
    max-width: 364px;
  }
}

@media (max-width: 500px) {
  .about__text_type_wide {
    max-width: 280px;
    font-size: 20px;
    line-height: 28px;
  }
}