.page__section_place_about {
  padding: 80px 20px 0 20px;
}

@media (max-width: 768px) {
  .page__section_place_about {
    padding: 60px 20px 0 20px;
  }
}

@media (max-width: 320px) {
  .page__section_place_about {
    padding: 40px 20px 0 20px;
  }
}