// шрифт
$fontFamily: 'prompt', 'sans-serif', arial;
// цвета текста
$firstFontColor: #0A0A0A;
$secondFontColor: #FFFFFF;
// цвета фона
$headerBackgroundColor: #E7E7E2;
$footerBackgroundColor: #0A0A0A;