.about {  
  grid-row-gap: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
}

@media (max-width: 768px) {
  .about {
    grid-row-gap: 70px;
  }
}

@media (max-width: 320px) {
  .about {     
    grid-row-gap: 0;  
    display: flex;   
    flex-direction: column;   
  }
}